{% extends "layout.html" %}
{% block content %}
  <div class="container text-center">
  <div class="centro">
    <h1 class="display-5">Welkom bij ParcelSpot</h1>
    <p class="lead">Houd u pakketje met de barcode omhoog onder de scanner om te beginnen</p>
    <img src="./static/barcodescanning.gif">
  </div>
  </div>
    <script>
    $(document).ready(function() {
    $.post("/scanbarcode", function (data, status) {
        if(status === 'success' && data['status'] === 'done')
        {
            window.location.href = "/scanned/" + data['barcode']
        }
    });
    })

    {#var request = new XMLHttpRequest();#}
    {#request.open('POST', '/scanbarcode');#}
    {##}
    {#request.onload = function() {#}
    {#  if (request.status === 200 && request.responseText === 'done') {#}
    {#      request.data =#}
    {#    // long process finished successfully, redirect user#}
    {#    window.location = '/scanned'#}
    {##}
    {#  } else {#}
    {#    // ops, we got an error from the server#}
    {#    alert('Something went wrong.');#}
    {#  }#}
    {#};#}
    {##}
    {#request.onerror = function() {#}
    {#  // ops, we got an error trying to talk to the server#}
    {#  alert('Something went wrong.');#}
    {#};#}
    {##}
    {#request.send();#}
    </script>
{% endblock %}