{% extends "layout.html" %}
{% block content %}
    <div class="container text-center">
        <div class="centro">

            {% if session['barcode_type'] == 'QRCODE' %}
                <h1 class="display-5">Hallo {{ session['user']['firstName'] }} </br>Maak een keuze</h1>
                <div class="list-group">
                    <a href="/pickup" class="list-group-item list-group-item-action">Ophalen</a>
                    <a href="#" class="list-group-item list-group-item-action">Versturen</a>
                </div>
            {% else %}
                Hallo Bezorger Je flow doet het niet helaas :(
            {% endif %}
        </div>
    </div>
{% endblock %}