{% extends "layout.html" %}
{% block content %}
    <div class="container text-center">
        <div class="centro">
            <h5>Deze pakketjes staan voor je klaar om op te halen!</h5>
                <div class="list-group">
                    {% for item in packages %}
                      <a href="/pickupdetail/{{ item['id'] }}" class="list-group-item list-group-item-action" >{{item['description']}}</a>
                    {% endfor %}
                </div>
        </div>
    </div>
{% endblock %}