{% extends "layout.html" %}
{% block content %}
     <a href="#" class="previous" onclick="history.back(-1)">&laquo;</a>
    <div class="container text-center">
        <div class="centered-content">
            {% if send == False %}
                <h5>Deze pakketjes staan voor je klaar om op te halen!</h5>
                <div class="list-group">
                    {% for item in packages %}
                        {% for status in item.status %}
                            {% if loop.index == 1 and status.type == "delivered" %}
                                <a href="/packagedetail/{{ item.id }}"#}
                                class="list-group-item list-group-item-action">{{ item.description }}</a>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            {% elif package %}
                <div class="card" style="width: 18rem;">
                 <h5 class="card-title" style="padding-top: 20px">Leg het pakketje in de aangewezen locker!</h5>
                <div class="card-body">
                        <a href="/delivery/{{ package['location'] }}" class="btn btn-primary btn-lg">Open locker {{ package['location'] }}</a>
                </div>
                </div>
            {% else %}
                <h5>Deze pakketjes zijn klaar om te verzenden!</h5>
                <div class="list-group">
                    {% for item in packages %}
                        {% for status in item.status %}
                            {% if loop.index == 1 and status.type == "registered" %}
                                <a href="/packagedetail/{{ item.id }}"#}
                                class="list-group-item list-group-item-action">{{ item.description }}</a>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}